body {
  margin: 0;
  background-color: black;
}

#score {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: white;
}

#gameContainer {
  position: relative;
  width: 400px;
  height: 600px;
  border: 2px solid black;
  overflow: hidden;
  background-color: skyblue;
  margin: 20px auto;
}

#bird {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

#birdImg{
  width: 40px;
  height: 40px;
}

.pipe {
  position: absolute;
  width: 80px;
  background-color: darkgreen;
}

.pipe-top {
  top: 0;
}

.pipe-bottom {
  bottom: 0;
}

#score {
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}
